.div-profilePage {
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  height: 80vh;
  justify-content: space-evenly;
}

.div-profileName-changes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 40%;
}
.div-heading-input-button {
  display: flex;
  flex-direction: column;
}
.div-profilePage-text {
  display: flex;
  flex-direction: column;
  font-size: 120%;
  height: 100%;
  width: 30%;
}
.div-input-button {
  display: flex;
  flex-direction: row;
}

.div-new-profileName {
  display: flex;
  flex-direction: column;
}

.h3-profileName-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.2rem;
  color: #ffffff;
}

.input-profileName {
  box-sizing: border-box;
  width: 80%;
  height: clamp(40px, 7vh, 60px);
  border: 2px solid #cccccc;
  border-radius: 6px;
  background-color: #15202b;
  color: #cccccc;
  padding-left: 16px;
}

input[type="text"] {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 150%;
}

::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 100%;
  padding: 1%;
  color: #cccccc;
}

:focus {
  outline: none;
}

.button-save-profileName {
  cursor: pointer;
  width: 8vw;
  height: clamp(40px, 7vh, 60px);
  margin-left: 1vw;
  background: #87ceeb;
  border: 1px solid #15202b;
  border-radius: 6px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 150%;
  color: black;
}

.h3-profilePage-text,
.h3-profilePage-text-last {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.8rem;
  color: #ffffff;
}

.h3-profileName-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  height: 1%;
}

.h3-profileName-textValue {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
  color: #ffa07a;
}

hr {
  display: none;
}

@media screen and (max-width: 820px) {
  /* VERY SMALL SCREEN */
  .h3-profileName-label {
    font-size: 1.6rem;
  }

  .h3-profilePage-text,
  .h3-profilePage-text-last {
    font-size: 1.2rem;
  }

  .button-save-profileName {
    width: 13vw;
  }

  .h3-profileName-text {
    font-size: 1.2rem;
  }

  .h3-profileName-textValue {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 820px) and (max-width: 900px) {
  /* SMALL SCREEN */

  .h3-profilePage-text,
  .h3-profilePage-text-last {
    font-size: 1.5rem;
  }

  .h3-profileName-label {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 910px) and (max-width: 1235px) {
  /* MEDIUM SCREEN */

  .h3-profilePage-text,
  .h3-profilePage-text-last {
    font-size: 1.7rem;
  }

  .h3-profileName-label {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  /* BIG SCREEN */

  .h3-profilePage-text,
  .h3-profilePage-text-last,
  .h3-profileName-text {
    font-size: 2.2rem;
  }
  .h3-profileName-label {
    font-size: 2.5rem;
  }

  .h3-profileName-textValue {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 2200px) {
  /* VERY BIG SCREEN */

  .h3-profilePage-text,
  .h3-profilePage-text-last,
  .h3-profileName-text {
    font-size: 2.5rem;
  }
  .h3-profileName-label {
    font-size: 2.8rem;
  }

  .h3-profileName-textValue {
    font-size: 2.5rem;
  }
}

@media screen and (max-height: 650px) {
  .div-profilePage-text {
    margin-top: 4vh;
  }

  .h3-profileName-label {
    font-size: 2rem;
  }

  .h3-profileName-text {
    font-size: 1.6rem;
  }
  .h3-profilePage-text,
  .h3-profilePage-text-last {
    font-size: 1.6rem !important;
  }
}

@media screen and (max-height: 650px) and (max-width: 1450px) {
  /* CUSTOM */
  .h3-profilePage-text,
  .h3-profilePage-text-last {
    font-size: 1.3rem !important;
  }

  .h3-profileName-label {
    font-size: 1.8rem;
  }

  .h3-profileName-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  /* MOBILE */
  .div-profilePage {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
  }

  .div-heading-input-button {
    display: flex;
    width: 100vw;
    align-items: center;
  }
  .div-profileName-changes {
    width: 100vw;
    margin-top: 4vh;
  }

  .div-new-profileName {
    display: flex;
    margin-left: 6vw;
  }

  .h3-profileName-label {
    font-size: 1.8rem;
    display: flex;
  }

  .profileName-icon {
    margin-left: 3vw !important;
  }

  .div-input-button {
    width: 100vw;
    justify-content: center;
    margin-bottom: 6vh;
  }

  input[type="text"] {
    font-size: 100%;
  }

  .input-profileName {
    width: 60vw;
    height: 6vh;
    min-height: 40px;
  }

  .button-save-profileName {
    width: 25%;
    height: 6.2vh;
    min-height: 40px;
    font-size: 6vw;
  }

  .h3-profileName-text {
    font-size: 1.3rem;
  }

  .h3-profileName-textValue {
    font-size: 1.5rem;
  }

  hr {
    display: inline;
  }

  .divider-mobile-screen {
    align-self: flex-start;
    width: 100vw;
  }

  .h3-profilePage-text {
    font-size: 1rem;
    margin-bottom: 3vh;
  }

  .h3-profilePage-text-last {
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 6vh;
  }

  .div-profilePage-text {
    justify-content: flex-start;
    width: 95vw;
    height: 80%;
    min-height: 200px;
    margin-top: 1vh;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
