@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/********************************* AUTH PAGE *********************************/




/* .buttonLogout {
  position: absolute;
  width: 68px;
  height: 34px;
  right: 80px;
  top: 10px;
  color: white;
  background-color: #007bff;
  border: 1px solid #15202b;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
} */







/********************************* LOGIN PAGE ********************************/







/****************************** ADD TWEET **********************************/

.postBox {
  position: absolute;
  width: 600px;
  height: 180px;
  left: 367px;
  top: 105px;
  border: 2px solid #cccccc;
  border-radius: 6px;
}




.listContainer {
  position: absolute;
  width: 600px;
  height: 1200px;
  left: 367px;
  top: 305px;
}

.buttonpage1,
.buttonpage2,
.buttonpage3 {
  margin: 5px;
}
